<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bicpark">

    <!--Permisos-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bicpark">
        <activity android:name=".activitys.OficinaActivity" />
        <activity android:name=".activitys.PlantaActivity" />
        <activity android:name=".activitys.EdificioActivity" />
        <activity android:name=".activitys.PlazaActivity" />
        <activity android:name=".activitys.EmpresaActivity" />
        <activity android:name=".activitys.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activitys.InfoActivity" />
        <activity android:name=".activitys.MainActivity" />

    </application>

</manifest>